body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 6%;
}
.half-width img{
    width: 80%;
    padding-top: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(darkorange, rgb(183, 196, 4));
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    text-align: justify;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}